/*notes
Margin and Padding: (top) (right) (bottom) (left)
Adding padding to main/nav will mean changing the margin +/- (x) to align both boxes.

Width and float allow the boxes to be next to eachother
# To cover an id, . To cover a class eg: #header
You can edit specific lines of code by combining the class and id eg:#main.title
*/

body{
  background-color:#EEE;/*Kinda white but better than white #EEE*/
  font-family: 'Source Sans Pro', sans-serif;
}

#header{
  background-color:#9CC0E7; /*Light Cloud Blue 9CC0E7*/
  text-align: center;
  padding: 0.5%;
  font-size:170%;
  margin: 5% 10% 0;
  color:#2A466D;
}



/*!!!Navigation CSS start!!!*/

/*To change the whole box*/
#nav{
  background-color:#FF6162;
  float:left;
  width:15%;
  margin:1.5% 0 0 10%;
}
/*To change elements that relate to the list*/
#nav ul{
  padding:0%;
  margin:0%;
  width:150%;
  list-style-type:none;
}
/*To change the text*/
#nav a{
  display:block;
  padding:5%;
  text-decoration:none;
  color:#2A466D;
  font-size:110%;
}
/*To change the text upon hover*/
#nav a:hover {
  color:#00A0C6; 
  background-color:#EEE;
}

/*!!!Navigation CSS end!!!*/

/*!!!Info Boxes Start!!!*/

#main{
  background-color:#5e99d8; /*Light Blue #5e99d8*/
  width:61.4%;
  float:right;
  color:#2A466D; /*Royal Blue 2A466D*/
  padding:0.1% 1% 0.1% 1%;
  margin:1.5% 10% 0 0;
}

#infoBox{
  background-color:#D8D15E; /*Light Blue #5e99d8*/
  width:61.4%;
  float:right;
  color:#2A466D; /*Royal Blue 2A466D*/
  padding: 0.1% 1% 2% 1%;
  margin:1.5% 10% 0 0;
}

/*Info Boxes End*/
iframe{
  width:100%;
}

#showcase{
  background-color:#5ED87D; /*Light Blue #5e99d8*/
  width:61.4%;
  float:right;
  color:#2A466D; /*Royal Blue 2A466D*/
  padding: 0.1% 1% 2% 1%;
  margin:1.5% 10% 5% 0;
  transition:0.5s;
  background-size:100%;
}
#showcase img{
  width:40%;
  padding: 2% 2% 2% 2%;
}

